<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="InterfaceEasyJEE">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="ModelEasyJEE.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/ModelEasyJEE/ModelEasyJEE">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="InterfaceEasyJEE"/>
        <property name="java-output-path" value="/InterfaceEasyJEE/build/classes"/>
    </wb-module>
</project-modules>
